.appBar{
    transition: width 225ms cubic-bezier(0.4, 0, 0.6, 1) 0ms,margin 195ms cubic-bezier(0.4, 0, 0.6, 1) 0ms !important;
}


.appBarShift{
    transition: width 195ms cubic-bezier(0.4, 0, 0.6, 1) 0ms,margin 225ms cubic-bezier(0.4, 0, 0.6, 1) 0ms !important;
}

.menuButtonShift{
    display: none !important;
}