.validate-form {
    width: 35%;
}

@font-face {
    font-family: "Vazir";
    src: url('../../../assets/fonts/Vazir.ttf');
}
.button{
    font-family: "Vazir";
}

.login-button{
    box-shadow: rgb(63 64 125 / 24%) 0px 8px 16px 0px;
}

.signup-button{
    box-shadow: rgb(63 64 125 / 24%) 0px 8px 16px 0px;
}